@charset "UTF-8";

* {
	font-family: "Noto Sans KR", sans-serif;
}
/* 전체 레이아웃
---------------------*/
#main {
	width: 1024px;
	margin: 0 auto;
	font-size: 10pt;
	font-family: "Noto Sans KR", sans-serif;
}

#main_header {
	margin-bottom: 10px;
	padding: 0 10px 0 0;
}

#main_body {
	padding: 5px 5px 30px 5px;
	min-height: 500px;
}

#main_footer {
	background-color: yellow;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #6C6C6C;
}
/* 페이지 레이아웃
---------------------*/
.page-main {
	width: 98%;
	margin: 0 auto;
}

.page-one {
	width: 600px;
	margin: 0 auto;
}
/* 공통 메시지
---------------------*/
.result-display {
	width: 400px;
	height: 200px;
	margin: 50px auto;
	border: 1px solid #000;
	display: flex;
	align-items: center; /*세로 정렬*/
	justify-content: center; /*가로 정렬*/
}
/* 공통 정렬
---------------------*/
.align-center {
	text-align: center;
}

.align-right {
	display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}
/* 상단 메뉴
---------------------*/
div#main_menu li {
	list-style: none;
}

div#main_menu ul li {
	margin-bottom: 5px;
}
/* 메인
---------------------*/
.image-space .horizontal-area {
	margin: 2px;
	padding: 3px;
	width: 220px;
	height: 240px;
	float: left;
	overflow: hidden;
	text-align: center;
}

.image-space .horizontal-area img {
	width: 215px;
	height: 195px;
}

.image-space .float-clear {
	clear: both;
}

/* 공통 등록, 수정 폼
---------------------*/
form {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 10px 10px 30px 10px;
}

form ul li label {
	width: 110px;
	display: inline-block;
}

ul {
	list-style: none;
}

input, select {
	margin-top: 4px;
	padding: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
	border: 1px solid #c9c9c9;
	width: 350px;
	padding: 0.55rem 0.55rem;
	border-radius: 8px;
}

/* MY페이지, Admin 공통목록
---------------------*/
.side-bar {
	margin: 10px 10px 10px 0;
	padding: 10px;
	/* 사이드 바의 높이가 컨텐트의 높이와 동일하게 자동 조절 */
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	background-color: #cecccc;
}

.side-bar ul {
	margin: 0;
	padding: 0;
}

.side-bar ul li {
	padding: 5px 10px 5px 10px;
}

.side-bar ul li img {
	margin-left: 3px;
}

.side-height {
	/* 사이드 바의 높이가 컨텐트의 높이가 동일하게 자동 조절 하기 위해 흘러넘친 배경색은 숨긴다 */
	overflow: hidden;
	margin-bottom: 10px;
	
}

#page_nav{
	float:left;
	width: 25%;
	min-height: 530px;
}

#page_body{
	width:75%;
	float:left;
}

.page-clear{
	clear:both;
}

/* 공통 프로필
--------------------- */
.my-photo{
	object-fit:cover;
	/* 정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정한다 */
	object-position:top;
	border-radius: 50%;
}

/* 공통 목록
---------------------*/
form#search_form {
	width: 98%;
	padding-bottom: 0;
	border: none;
}

ul.search {
	width: 380px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

ul.search li {
	margin: 0 0 9px 0;
	padding: 0;
	display: inline;
}

ul.search li select {
	height: 30px;
}

.list-space {
	width: 700px;
	margin: 10px auto;
}

table {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
	margin-top: 5px;
}

table td, table th {
	border: 1px solid #000;
	padding: 5px;
}
/* 공통 버튼
---------------------*/
[type="submit"], [type="button"] {
	height: 30px;
}

.menu-btn {
	width: 100%;
	height: 50px;
	font-size: 12pt;
	background-color: #fcfcfc;
	border-color: #b7b5b5;
	border-radius: 5px;
}

.default-btn {
	padding: 4px 20px;
	border: 1px solid #09aa5c;
	border-radius: 2px;
	color: #fff;
	background-color: #09aa5c;
	cursor: pointer;
}

.default-btn:hover {
	background-color: #FFF;
	color: #09aa5c;
	transition: 0.2s ease-out;
	height: 30px;
}

/* 상품
---------------------*/
.item-space .horizontal-area {
	margin: 2px;
	padding: 3px;
	width: 200px;
	height: 220px;
	float: left;
	overflow: hidden;
	text-align: center;
}

.item-space .horizontal-area img {
	width: 195px;
	height: 175px;
}

.item-space .horizontal-area span {
	padding: 5px;
	margin: 5px;
}

.item-space .float-clear {
	clear: both;
}

label[for="order_quatity"] {
	width: 80px;
}

.item-image {
	width: 400px;
	margin: 0 0 10px 0;
	float: left;
}

.item-image li {
	padding: 0 0 5px 0;
}

.item-detail form {
	border: none;
	width: 470px;
	margin: 0;
	float: left;
}

#item_total_txt {
	color: #000;
}

input[type="number"].quantity-width {
	width: 40px;
	margin-bottom: 3px;
}

.sold-out {
	color: red;
}
/* 장바구니
---------------------*/
form[id="cart_order"] {
	border: none;
}
/* 장바구니
---------------------*/
form[id="order_modify"], form[id="order_form"] {
	width: 860px;
}

#delivery_text {
	color: red;
}

ul#delivery_info li span {
	width: 130px;
	display: inline-block;
}

.error-color-reg {
	color: red;
	font-size: 8pt;
	margin-left: 17%;
}

.error-color {
	color: red;
	font-size: 9pt;
}